[submodule "examples/harbour-webviewtest"]
	path = examples/harbour-webviewtest
	url = https://github.com/llewelld/harbour-webviewtest.git
[submodule "examples/WebEngineTest"]
	path = examples/WebEngineTest
	url = https://github.com/llewelld/WebEngineTest.git
[submodule "examples/ceftest"]
	path = examples/ceftest
	url = https://github.com/llewelld/ceftest.git
